// borrowed from https://github.com/monsterlessonsacademy/monsterlessonsacademy/blob/240-typescript-eslint/.eslintrc
{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ]
  }